<lrn-flowchart-while [condition]="'first while'">

  <lrn-flowchart-block><code>foo</code></lrn-flowchart-block>

  <lrn-flowchart-if [condition]="'if'">
    <lrn-flowchart-then>
      <lrn-flowchart-block><code>thenthen then</code></lrn-flowchart-block>
      <lrn-flowchart-block><code>thenthen</code></lrn-flowchart-block>
    </lrn-flowchart-then>
    <lrn-flowchart-else>
      <lrn-flowchart-block><code>e</code></lrn-flowchart-block>
    </lrn-flowchart-else>
  </lrn-flowchart-if>

  <lrn-flowchart-if [condition]="'if then else if then else'">
    <lrn-flowchart-then>
      <lrn-flowchart-block><code>thenthen</code></lrn-flowchart-block>
    </lrn-flowchart-then>
    <lrn-flowchart-else>
      <lrn-flowchart-block><code>e</code></lrn-flowchart-block>
    </lrn-flowchart-else>
  </lrn-flowchart-if>

  <lrn-flowchart-if [condition]="'i'">
    <lrn-flowchart-then>
      <lrn-flowchart-block><code>then then then</code></lrn-flowchart-block>
    </lrn-flowchart-then>
    <lrn-flowchart-else>
      <lrn-flowchart-block><code>eles else else else lse</code></lrn-flowchart-block>
    </lrn-flowchart-else>
  </lrn-flowchart-if>

</lrn-flowchart-while>
