:host {
  display: block;

  table {
    empty-cells: show;
    position: relative;
    border-collapse: collapse;
    margin: 1em;

    td {
      width: 1em;
      height: 1em;
      border: solid 1px black;
    }
  }
}
