<lrn-table>
  <thead>
    <tr>
      <th rowspan="2">Vrh<br/>magacina</th>
      <th colspan="5">Ulazni simbol</th>
    </tr>
    <tr>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>S</th>
      <td>(aT, 1)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>T</th>
      <td>(SA, 2)</td>
      <td>(A, 3)</td>
      <td>(A, 3)</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>A</th>
      <td></td>
      <td>(bB, 4)</td>
      <td>(c, 5)</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>B</th>
      <td></td>
      <td>(e, 7)</td>
      <td>(e, 7)</td>
      <td>(d, 7)</td>
      <td>(e, 7)</td>
    </tr>
    <tr>
      <th>a</th>
      <td>pop</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>b</th>
      <td></td>
      <td>pop</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>c</th>
      <td></td>
      <td></td>
      <td>pop</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>d</th>
      <td></td>
      <td></td>
      <td></td>
      <td>pop</td>
      <td></td>
    </tr>
    <tr>
      <th>#</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>acc</td>
    </tr>
  </tbody>
</lrn-table>
