<lrn-planimetrics-control-point [(point)]="point" [strategy]="'cartesian'"></lrn-planimetrics-control-point>
<lrn-planimetrics-control-line [(line)]="line" [strategy]="'segment'"></lrn-planimetrics-control-line>

<br>

<pre>{{point | json}}</pre>
<pre>{{line | json}}</pre>

<br>

<div style="width: 600px; height: 600px; border: dashed 1px rgba(0, 0, 0, .4); margin: 2em; display: flex">
  <lrn-planimetrics style="width:600px;"
                    [objects]="objects"
                    [interactivePoints]="interactivePoints"
                    (interactivePointsChange)="onInteractivePointsChange($event)"
  ></lrn-planimetrics>
</div>
