<lrn-presentation author="Lazar Ljubenović"
                  title="Introducing Geometry Component"
                  email="lazar.ljubenovic.1995@gmail.com"
                  [withoutQuestionsSlide]="true"
                  [withoutThankYouSlide]="true"
>

  <lrn-slide [title]="'Basic example'"
             [subtitle]="'Segment with a midpoint'"
  >
    <div lrnMaximize lrnCenter>
      <lrn-card>
        <lrn-planimetrics [interactivePoints]="examples[0].interactivePoints"
                          [evaluate]="examples[0].evaluate"
        ></lrn-planimetrics>
      </lrn-card>
    </div>
  </lrn-slide>

  <lrn-slide [title]="'Triangle circumcircle'"
             [subtitle]="'Construction'"
  >
    <div lrnMaximize lrnCenter>
      <lrn-card>
        <lrn-planimetrics [interactivePoints]="examples[1].interactivePoints"
                          [evaluate]="examples[1].evaluate"
        ></lrn-planimetrics>
      </lrn-card>
    </div>
  </lrn-slide>

  <lrn-slide [title]="'Display axis'"
             [subtitle]="'Simple configuratio'"
  >
    <div lrnMaximize lrnCenter>
      <lrn-card>
        <lrn-planimetrics [interactivePoints]="examples[2].interactivePoints"
                          [evaluate]="examples[2].evaluate"
                          [axis]="true"
        ></lrn-planimetrics>
      </lrn-card>
    </div>
  </lrn-slide>

</lrn-presentation>
