<svg [attr.viewBox]="'0 0 ' + size + ' ' + size" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <filter id="dropshadow">
      <feGaussianBlur in="SourceAlpha" stdDeviation=".6"/>
      <feOffset dx="0" dy=".4"/>
      <feComponentTransfer>
        <feFuncA type="linear" slope="0.3"/>
      </feComponentTransfer>
      <feMerge>
        <feMergeNode/>
        <feMergeNode in="SourceGraphic"/>
      </feMerge>
    </filter>
    <filter id="dropshadow2">
      <feGaussianBlur in="SourceAlpha" stdDeviation=".3"/>
      <feOffset dx=".3" dy=".3"/>
      <feComponentTransfer>
        <feFuncA type="linear" slope="0.3"/>
      </feComponentTransfer>
      <feMerge>
        <feMergeNode/>
        <feMergeNode in="SourceGraphic"/>
      </feMerge>
    </filter>
  </defs>

  <g [attr.transform]="'rotate(45 ' + 50 + ' ' + 50 + ')'" class="back-card"
     filter="url(#dropshadow2)">
    <rect [attr.x]="margin" [attr.y]="margin" [attr.width]="cardSize"
          [attr.height]="cardSize"></rect>
  </g>

  <rect [attr.x]="margin" [attr.y]="margin" [attr.width]="cardSize" [attr.height]="cardSize"
        class="front-card" filter="url(#dropshadow)"></rect>

</svg>
