@import '../../global';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 100%;
  }

  .mislete {
    transform: scale(0.1) translate(250px, 290px);
  }
}

@each $theme in ('light', 'dark') {
  :host-context(.lrn-theme-#{$theme}) {

    .front-card {
      fill: get-theme($theme, front);
    }
  }
}

@each $color-name in get-color-strings() {
  :host-context(.lrn-theme-color-#{$color-name}) {

    .back-card {
      fill: material-color($color-name, '500')
    }

    .mislete path {
      stroke: material-color(get-accent-color-string-for($color-name), 'a400');
    }
  }
}
