<button (click)="addData()">Add More Data</button>
<!--<input type="range" [(ngModel)]="width" min="50" max="1000" step="50">-->
<br/>

<div style="width: 100%; height: 600px; display: flex; justify-content: space-around;">
  <div style="width: 40%; border: dashed 1px rgba(0, 0, 0, .4);">
    <lrn-chart pie [title]="'Pie chart'">
      <lrn-chart-data *ngFor="let d of data"
                      [label]="d.label"
                      [value]="d.value"
      ></lrn-chart-data>
    </lrn-chart>
  </div>

  <div style="width: 40%; border: dashed 1px rgba(0, 0, 0, .4);">
    <lrn-chart verticalBars [title]="'Vertical bars example'">
      <lrn-chart-data *ngFor="let d of data"
                      [label]="d.label"
                      [value]="d.value"
      ></lrn-chart-data>
    </lrn-chart>
  </div>
</div>
