<lrn-card>

  <lrn-card-header class="title">
    <span class="kind-and-label">
    <span class="kind">{{controller | kind}}</span>
    <span class="label">{{controller | label}}</span>
  </span>
    <span class="view-data">
    <span [class]="'chip ' + (controller | strokeColor | getColorString)"><span>stroke</span></span>
    <span [class]="'chip ' + (controller | fillColor | getColorString)"><span>fill</span></span>
  </span>
  </lrn-card-header>

  <lrn-card-content class="content">
    <div *ngFor="let strategyName of strategyNames" class="strategy-content">
      <div class="strategy-name">{{strategyName}}</div>
      <div class="strategy">
        <lrn-object-editor [object]="controller | destruct : strategyName"
                           (objectChange)="onChange(strategyName, $event)"
        ></lrn-object-editor>
      </div>
    </div>
  </lrn-card-content>

</lrn-card>
