@import '../../imports';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  fill: material-color('blue-grey', '50');
}

div {
  padding: 2ex .5em;
  background-color: material-color('blue-grey', '50');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
}
