<lrn-notebook>

  <h1>Console</h1>

  <summary>
    <i>Console</i> je modul koji služi kao komandni interfejs (<abbr
    title="Command Line Interface">CLI</abbr>) za izabrani programski jezik. Omogućuje studentu da ga samostalno isproba.
  </summary>

  <h2>Primer</h2>

  <p>
    U nastavku se nalazi komandni interfejs za jednu manju verziju programskog jezika Lisp. Na primer, za zbir dva broja, može se koristiti
    <code>(+ 1 2)</code>.
  </p>

  <lrn-console language=lisp
               style="height: 10rem"
  ></lrn-console>

  <h2>Korišćenje</h2>

  <p>
    Komponenta <code>ConsoleComponent</code> se nalazi u modulu <code>ConsoleModule</code>. U šablonima se koristi pomoću selektora <code>lrn-console</code>.
  </p>

  <p>
    Očekuje jedan obavezan ulaz <code>language</code> u koji treba proslediti string na osnovu kog se određuje jezik koji konzola prepoznaje.
  </p>

  <p>
    Podrazumevano su dostupni jezici <code>javascript</code> i <code>lisp</code>, ali se mogu koristiti proizvoljni interpretatori pružanjem multi-tokena <code>LRN_CONSOLE_INTERPRETERS</code>.
  </p>

  <p>
    Postoji događaj `submit` koji se može osluškivati da bi se dobile informacije o onome što je korisnik uneo, u vidu objekta u kome se nalaze dve vrednosti, `input` i `output`, pri čemu se oba stringovi.
  </p>

  <h3>Napredno korišćenje</h3>

  <p>
    Da bi se dodao nov jezik, prvo je potrebno kreirati klasu koja implementira interfejs <code>Interpreter</code>, tj. mora sadržati string <code>language</code> koji predstavlja ime jezika kojim će se jezik aktivirati pomoću ulaza u komponentu i funkciju <code>handle</code> koja će se pozivati za prosleđeni unos od strane korisnika.
  </p>

  <p>
    Na primer, interpreter koji obaveštava korisnika o tome da li je uneti string palindrom ili ne, može se implementirati na sledeći način.
  </p>

  <pre><code [lrnCode]="'javascript'">{{ palindromeInterpreterExample }}</code></pre>

  <p>
    Da bi se ova klasa mogla koristiti u modulu, potrebno je dodati objekat nalik na sledećem u nizu <code>providers</code> u okviru meta-podataka za <code>NgModule</code> ili za komponentu koja ga koristi.
  </p>

  <pre><code [lrnCode]="'javascript'">{{ palindromeProviders }}</code></pre>

  <p>
    Sada je moguće koristiti jezik <code>palindrome</code>.
  </p>

  <pre><code [lrnCode]="'html'">{{ palindromeUsageExample }}</code></pre>

  <lrn-console language="palindrome" style="height: 10rem"></lrn-console>

  <h2>Moguće greške</h2>

  <p>
    Ova komponenta može da prouzrokuje nekoliko grešaka ukoliko se ne koristi ispravno. Zato se treba pridržavati sledećih pravila.
  </p>

  <ul>
    <li>Ulaz <code>language</code> se mora navesti.</li>
    <li>String doveden na ulaz <code>language</code> mora postojati među klasama koje su provajdovane kroz multi-token <code>LRN_CONSOLE_INTERPRETERS</code>.</li>
    <li>Provajdovane klase ne smeju da ponavljaju isti atribut <code>language</code>.</li>
  </ul>

</lrn-notebook>
