<template #description>
  This is a <b>custom</b> <i>description</i>.
  It's also <b>pretty damn</b> long because it seems like it <i>will just go on and on</i> and probably will never stop.
  Pretty funny, right? Not? OK. Suit yourself.
</template>

<template #title>
  Lernejaro
</template>

<lrn-title-slide [author]="'Foo Bar Name'"
                 [description]="description"
                 [title]="title"
></lrn-title-slide>

<!--<div #outlet></div>-->
<!---->
<!--<ng-content select="lrn-slide"></ng-content>-->
<!---->
<!--<div class="footer">-->
  <!--<ul class="navigation">-->
    <!--<li (click)="goToPrevious()">Previous</li>-->
    <!--<li>{{ currentSlideIndex }}</li>-->
    <!--<li (click)="goToNext()">Next</li>-->
  <!--</ul>-->
<!--</div>-->
