<template #description>
  This is a <b>custom</b> <i>description</i>.
</template>

<template #title>
  <span>Functions <b>in form</b> of <lrn-katex [math]="'\\displaystyle\\int_0^e\\log_e(x)\\,\\mathrm dx'"></lrn-katex></span>
</template>

<lrn-title-slide [author]="'Foo Bar Name'"
                 [description]="description"
                 [title]="title"
></lrn-title-slide>

<!--<div #outlet></div>-->
<!---->
<!--<ng-content select="lrn-slide"></ng-content>-->
<!---->
<!--<div class="footer">-->
  <!--<ul class="navigation">-->
    <!--<li (click)="goToPrevious()">Previous</li>-->
    <!--<li>{{ currentSlideIndex }}</li>-->
    <!--<li (click)="goToNext()">Next</li>-->
  <!--</ul>-->
<!--</div>-->
