<!-- TODO Wait for component-outlet in 4.0.0 -->
<!--<lrn-title-slide [author]="author"-->
<!--[description]="description"-->
<!--[title]="title"-->
<!--&gt;</lrn-title-slide>-->

<lrn-progress-bar [height]="'.5ex'" [total]="slideComponents.length - 1" [current]="currentSlideIndex"></lrn-progress-bar>

<div #outlet></div>

<ng-content select="lrn-slide"></ng-content>

<div class="footer">
  <ul class="navigation">
    <li>
      <button (click)="goToFirst()"><i class="fa fa-fast-backward"></i></button>
    </li>
    <li>
      <button (click)="goToPrevious()"><i class="fa fa-step-backward"></i></button>
    </li>
    <li class="slide-index">
      <span class="current">{{currentSlideIndex + 1}}</span>
      /
      <span class="total">{{slideComponents.length}}</span>
    </li>
    <li>
      <button (click)="goToNext()"><i class="fa fa-step-forward"></i></button>
    </li>
    <li>
      <button (click)="goToLast()"><i class="fa fa-fast-forward"></i></button>
    </li>
  </ul>
</div>

<lrn-expanding-fab>
  <button (click)="showPalettePicker = true"><i class="fa fa-paint-brush"></i></button>
</lrn-expanding-fab>

<lrn-modal *ngIf="showPalettePicker" (close)="showPalettePicker = false">
  <lrn-palette-picker></lrn-palette-picker>
</lrn-modal>
