@import '../../imports';
@import '../../global';
@import './vars';

.slide-title {
  margin: 0;
  padding: 1.2em;
  color: $white;
  background-color: $color;
  @include z-depth(4);
  display: flex;
  flex-direction: column;

  .title {
    font-weight: 300;
    font-size: 3.6em;
    color: white;
  }

  .subtitle {
    font-weight: 300;
    font-size: 1.6em;
    margin-left: .16em;
  }
}
