<lrn-presentation [author]="'Lazar Ljubenović'"
                  [title]="'Lernejaro'"
                  [email]="'lazar.ljubenovic.1995@gmail.com'"
>

  <lrn-slide section="Uvod"
             [suppressUntitledSlideWarning]="true"
  >
    <div lrnCenter>
      <div lrnHorizontal>
        <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="Angular" width="300" height="300">
        <img src="https://cdn.worldvectorlogo.com/logos/react.svg" alt="React">
        <img src="https://vuejs.org/images/logo.png" alt="Vue">
      </div>
    </div>
  </lrn-slide>

  <lrn-slide [section]="'Angular'"
             [suppressUntitledSlideWarning]="true"
  >
    <ul>
      <li>Deklarativni šabloni
      <li>Detekcija promena
      <li>Ubrizgavanje zavisnosti
    </ul>
  </lrn-slide>

  <lrn-slide [suppressUntitledSlideWarning]="true"
  >
    <lrn-logo></lrn-logo>
  </lrn-slide>

  <lrn-slide [section]="'Mogućnosti'"
             [title]="'HTML'"
  >
    <pre><code [lrnCode]="'html'">{{ htmlExample }}</code></pre>
  </lrn-slide>

  <lrn-slide [section]="'Mogućnosti'"
             [title]="'HTML'"
  >
    <p>
      Paragraf sa <b>bold</b> i <i>italic</i> tekstom
    </p>

    <ul>
      <li>Neuređene</li>
      <li>Liste</li>
    </ul>
  </lrn-slide>

  <lrn-slide [section]="'Mogućnosti'"
             [title]="'Markdown'"
  >
    <pre><code [lrnCode]="'html'">{{ markdownExample }}</code></pre>
  </lrn-slide>

  <lrn-slide [title]="'Kod'">
    <pre><code [lrnCode]="'javascript'">{{ codeExample }}</code></pre>
  </lrn-slide>

  <lrn-slide [title]="'Kod (primer)'">
    <div lrnVertical>
      <pre><code [lrnCode]="'javascript'">const a = 1</code></pre>
      <pre><code [lrnCode]="'html'">&lt;pre>
  &lt;code [lrnCode]="'javascript'">
    const a = 1
  &lt;/code>
&lt;/pre></code></pre>
    </div>
  </lrn-slide>

  <lrn-slide [title]="'KaTeX'">
    <div lrnCenter>
      <lrn-katex [displayMode]="true"
                 [math]="formula"
                 style="margin-bottom: 1em"
      ></lrn-katex>
    </div>
  </lrn-slide>

  <lrn-slide [title]="'KaTeX'">
    <pre><code [lrnCode]="'html'">{{ katexExample }}</code></pre>
  </lrn-slide>

  <lrn-slide [title]="'Kviz'">
    <lrn-multiple-choice>
      <lrn-question>what am i</lrn-question>
      <lrn-choice lrnCorrect>im lazy</lrn-choice>
      <lrn-choice>im not lazy</lrn-choice>
    </lrn-multiple-choice>
  </lrn-slide>

</lrn-presentation>
