<lrn-presentation [author]="'Lazar Ljubenović'"
                  [description]="'Opis'"
                  [title]="'Lernejaro'"
>

  <lrn-slide [title]="'Cats Should Rule the World'" [subtitle]="'Meow meow goes here.'">
    <lrn-markdown>
      Purr?

      - Purr.
      - Puuurrrr.

      > PURRR
    </lrn-markdown>
  </lrn-slide>

  <lrn-slide [title]="'Interaktivnost'">
    <lrn-markdown>
      - prelazak na sledeći slajd
      - ???
    </lrn-markdown>
  </lrn-slide>

  <lrn-slide [title]="'Duolingo'"></lrn-slide>

  <lrn-slide [title]="'RedBlobGames'"></lrn-slide>

  <!--<lrn-slide [title]="'Kompleksni brojevi'"></lrn-slide>-->

  <lrn-slide [title]="'UpamtiMe'"></lrn-slide>

  <lrn-slide [title]="'CryptoVisual'"></lrn-slide>

  <lrn-slide [title]="'Lernejaro'"></lrn-slide>

  <lrn-slide [title]="'Lernejaro'" [subtitle]="'Komponente'">
    <lrn-markdown>
      - Markdown
      - Prezentacije
      - Flowcharts
      - Tables
      - Bitmaps
      - Graphs
      - Networks
      - Geometry
    </lrn-markdown>
  </lrn-slide>

</lrn-presentation>
