<lrn-presentation [author]="'Lazar Ljubenović'"
                  [title]="'Lernejaro'"
                  [email]="'lazar.ljubenovic.1995@gmail.com'"
>

  <lrn-slide [section]="'Uvod'"
             [suppressUntitledSlideWarning]="true"
  >
    
  </lrn-slide>

  <lrn-slide [suppressUntitledSlideWarning]="true"
  >
    <lrn-logo></lrn-logo>
  </lrn-slide>

  <lrn-slide [title]="'Code'">
    <pre><code [lrnCode]="'javascript'">{{ codeExample }}</code></pre>
  </lrn-slide>

  <lrn-slide [title]="'Code example'">
    <div lrnVertical>
      <pre><code [lrnCode]="'javascript'">const a = 1</code></pre>
      <pre><code [lrnCode]="'html'">&lt;pre>
  &lt;code [lrnCode]="'javascript'">
    const a = 1
  &lt;/code>
&lt;/pre></code></pre>
    </div>
  </lrn-slide>

  <lrn-slide [title]="'Cats Should Rule the World'">
    <lrn-markdown>
      Do **you** want to _purr_ with me?

      - Purr.
      - Puuurrrr! Mm `rawwr` yes.

      > PURRR

      ```js
      const a = 5;
      ```
    </lrn-markdown>
  </lrn-slide>

  <lrn-slide [title]="'Interaktivnost'">
    <lrn-markdown>
      - prelazak na sledeći slajd
      - ???
    </lrn-markdown>
  </lrn-slide>

  <lrn-slide [title]="'Duolingo'"></lrn-slide>

  <lrn-slide [title]="'RedBlobGames'"></lrn-slide>

  <!--<lrn-slide [title]="'Kompleksni brojevi'"></lrn-slide>-->

  <lrn-slide [title]="'UpamtiMe'"></lrn-slide>

  <lrn-slide [title]="'CryptoVisual'"></lrn-slide>

  <lrn-slide [title]="'Lernejaro'"></lrn-slide>

  <lrn-slide [title]="'Lernejaro'">
    <lrn-markdown>
      - Markdown
      - Prezentacije
      - Tables
      - Bitmaps
      - Networks
      - Geometry
    </lrn-markdown>
  </lrn-slide>

</lrn-presentation>
