@import 'imports';
@import 'grass';
@import 'themes';
@import 'util';

$font: Roboto, sans-serif;

$white: rgba(white, .86);
$black: rgba(black, .86);

$slide-header-height: 8rem;
$slide-footer-height: 4rem;
