<div style="width: 50%; height: 400px; background-color: yellow; font-size:1.2em" *lrnFitText>
  <span>here is some text</span>
</div>


<!--<lrn-notebook>-->

  <!--<h1>Title at Level 1</h1>-->

  <!--<summary>-->
    <!--This is a short <strong>abstract</strong> which defines the scope of the text which follows. It <em>shouldn't contain any specific details</em> and should only serve as a <strong>short introduction</strong> to themes which are about to covered.-->
  <!--</summary>-->

  <!--<h2>Title at Level Two</h2>-->

  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <code>Integer nec odio.</code> Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.-->
    <!--<b>Lorem ipsum dolor sit amet, consectetur adipiscing elit</b>. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.-->
  <!--</p>-->

  <!--&lt;!&ndash;<figure class="right">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="https://unsplash.it/200/200/?random">&ndash;&gt;-->
    <!--&lt;!&ndash;<figcaption>This is a longer figure caption on a floated image. It is never longer in width than the picture.</figcaption>&ndash;&gt;-->
  <!--&lt;!&ndash;</figure>&ndash;&gt;-->

  <!--<lrn-fill-in-the-blank (answerChange)="answer = $event">-->
    <!--Dijkstra's algorithm is an algorithm for finding the <lrn-blank [answer]="'shortest'" [hint]="'what kind of'"></lrn-blank> paths between nodes in a graph.-->
  <!--</lrn-fill-in-the-blank>-->

  <!--<pre>Answer: {{answer | json}}</pre>-->

  <!--<p>Curabitur tortor. Pellentesque <lrn-katex [math]="'c = \\pm\\sqrt{a^2 + b^2} + \\int_0^e \\log_2 \\left(\\sin\\left(x^{e^{\\sqrt{3}}}\\right)\\right) \\, \\mathrm dx'" [display]="'block'"></lrn-katex> nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem.-->
    <!--<b>Vestibulum lacinia arcu eget nulla</b>. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit.-->
  <!--</p>-->

  <!--<lrn-multiple-choice (answerChoose)="answer = $event">-->
    <!--<lrn-question>-->
      <!--Calculate <lrn-katex [math]="'\\det A'"></lrn-katex> if given-->
      <!--<lrn-katex [display]="'block'" [math]="'A = \\begin{bmatrix}1 & 2 & 3 \\\\ 4 & 5 & 6 \\\\ 7 & 8 & 9 \\end{bmatrix}.'"></lrn-katex>-->
    <!--</lrn-question>-->
    <!--<lrn-choice lrnCorrect><lrn-katex [math]="'\\det A = 0'"></lrn-katex></lrn-choice>-->
    <!--<lrn-choice><lrn-katex [math]="'\\det A = 12'"></lrn-katex></lrn-choice>-->
    <!--<lrn-choice><lrn-katex [math]="'\\det A = 24'"></lrn-katex></lrn-choice>-->
    <!--<lrn-choice><lrn-katex [math]="'\\det A = 48'"></lrn-katex></lrn-choice>-->
  <!--</lrn-multiple-choice>-->

  <!--&lt;!&ndash;<figure class="left">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="https://unsplash.it/400/300/?random">&ndash;&gt;-->
    <!--&lt;!&ndash;<figcaption>This is a longer figure caption on a floated image. It is never longer in width than the picture.</figcaption>&ndash;&gt;-->
  <!--&lt;!&ndash;</figure>&ndash;&gt;-->

  <!--<p>-->
    <!--<b>Sed dignissim lacinia nunc</b>. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante.-->
    <!--<b>Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa</b>. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices.-->
    <!--<i>Maecenas mattis</i>. Suspendisse in justo eu magna luctus suscipit. Sed lectus.-->
  <!--</p>-->

  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <code>Integer nec odio.</code> Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.-->
    <!--<b>Lorem ipsum dolor sit amet, consectetur adipiscing elit</b>. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.-->
  <!--</p>-->

  <!--<dl>-->
    <!--<dt>Term</dt>-->
    <!--<dd>Its definition</dd>-->
    <!--<dt>Another term</dt>-->
    <!--<dd>And its definition</dd>-->
    <!--<dt>Term #3</dt>-->
    <!--<dd>A pretty long definition can be put here as well, such as this one. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor.</dd>-->
  <!--</dl>-->

  <!--<p>-->
    <!--<b>Sed dignissim lacinia nunc</b>. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante.-->
    <!--<b>Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa</b>. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices.-->
    <!--<i>Maecenas mattis</i>. Suspendisse in justo eu magna luctus suscipit. Sed lectus.-->
  <!--</p>-->

  <!--<figure>-->
    <!--<lrn-planimetrics [interactivePoints]="[pointLeft, pointRight]" [objects]="[segment, bisector]"></lrn-planimetrics>-->
    <!--<figcaption>Segment bisector. You can drag points A and B to see how the bisector will change.</figcaption>-->
  <!--</figure>-->

  <!--<p>Integer euismod lacus luctus magna.-->
    <!--<b>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</b>. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi lacinia molestie dui. Praesent blandit dolor. Sed non quam. In vel mi sit amet augue congue elementum. Morbi in ipsum sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec, blandit vel, egestas et, augue. Vestibulum tincidunt malesuada tellus. Ut ultrices ultrices enim. Curabitur sit amet mauris.-->
  <!--</p>-->

  <!--<figure>-->
    <!--<img src="https://unsplash.it/300/200">-->
    <!--<figcaption>This is a caption on a centered picture. It spans across the page and isn't bound by the picture width.</figcaption>-->
  <!--</figure>-->

  <!--<p>Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor.-->
    <!--<b>Donec lacus nunc, viverra nec, blandit vel, egestas et, augue</b>. Integer id quam.-->
    <!--<b>Morbi in ipsum sit amet pede facilisis laoreet</b>. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam. Aenean laoreet.-->
    <!--<b>Nulla facilisi</b>. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede.-->
  <!--</p>-->

  <!--<h2>Title at Level Two, Once Again</h2>-->

  <!--<p>Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. Sed pretium blandit orci.-->
    <!--<b>Integer id quam</b>. Ut eu <code>diam at pede suscipit sodales</code>. Aenean lectus elit, fermentum non, convallis id, sagittis at, neque. Nullam mauris orci, aliquet et, iaculis et, viverra vitae, ligula. Nulla ut felis in purus aliquam imperdiet. Maecenas aliquet mollis lectus. Vivamus consectetuer risus et tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.-->
    <!--<b>Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede</b>. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.-->
  <!--</p>-->

  <!--<h3>Title at Level Three</h3>-->

  <!--<p>Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.-->
    <!--<b>Nullam mauris orci, aliquet et, iaculis et, viverra vitae, ligula</b>. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis.-->
  <!--</p>-->

  <!--<hr>-->

  <!--<p>-->
    <!--<b>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</b>. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor.-->
    <!--<b>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</b>. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa.-->
    <!--<i>Mauris massa</i>. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.-->
    <!--<b>Sed convallis tristique sem</b>. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla.-->
    <!--<i>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</i>. Suspendisse potenti.-->
  <!--</p>-->

  <!--<p>Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna.-->
    <!--<b>Ut fringilla</b>. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi lacinia molestie dui.-->
    <!--<b>Suspendisse potenti</b>. Praesent blandit dolor. Sed non quam. In vel mi sit amet augue congue elementum. Morbi in ipsum sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec, blandit vel, egestas et, augue.-->
  <!--</p>-->

  <!--<h3>Title at Level Three</h3>-->

  <!--<p>Vestibulum tincidunt malesuada tellus. Ut ultrices ultrices enim. Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi.-->
    <!--<b>Praesent blandit dolor</b>. Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue.-->
  <!--</p>-->

  <!--<h4>Title at Level Four</h4>-->

  <!--<p><b>Curabitur sit amet mauris</b>. Proin sodales libero eget ante. Nulla quam.-->
    <!--<b>Integer lacinia sollicitudin massa</b>. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede.-->
    <!--<b>Integer lacinia sollicitudin massa</b>. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. Sed pretium blandit orci.-->
    <!--<b>Cras metus</b>. Ut eu diam at pede suscipit sodales. Aenean lectus elit, fermentum non, convallis id, sagittis at, neque. Nullam mauris orci, aliquet et, iaculis et, viverra vitae, ligula.-->
    <!--<b>Proin sodales libero eget ante</b>. Nulla ut felis in purus aliquam imperdiet. Maecenas aliquet mollis lectus.-->
  <!--</p>-->

  <!--<h4>Title at Level Four</h4>-->

  <!--<p>Vivamus consectetuer risus et tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.-->
    <!--<b>Ut eu diam at pede suscipit sodales</b>. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.-->
  <!--</p>-->

  <!--<h3>Title at Level Three</h3>-->

  <!--<p>Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.-->
    <!--<b>Duis sagittis ipsum</b>. Curabitur tortor. Pellentesque nibh.-->
    <!--<i>Praesent libero</i>. Aenean quam. In scelerisque sem at dolor.-->
    <!--<b>Duis sagittis ipsum</b>. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa.-->
  <!--</p>-->

  <!--<ul>-->
    <!--<li>Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit.</li>-->
    <!--<li><i>Maecenas mattis</i>. Morbi in ipsum sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec, blandit vel, egestas et, augue. Vestibulum tincidunt malesuada tellus.</li>-->
  <!--</ul>-->

  <!--<p>-->
    <!--<b>Curabitur sodales ligula in libero</b>. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien.-->
  <!--</p>-->

  <!--<p>Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit.-->
    <!--<b>Ut fringilla</b>. Sed lectus.-->
    <!--<b>Nam nec ante</b>. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi lacinia molestie dui. Praesent blandit dolor. Sed non quam. In vel mi sit amet augue congue elementum.-->
    <!--<i>Maecenas mattis</i>. Morbi in ipsum sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec, blandit vel, egestas et, augue. Vestibulum tincidunt malesuada tellus.-->
  <!--</p>-->

  <!--<p>Ut ultrices ultrices enim. Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. Integer lacinia sollicitudin massa.-->
    <!--<b>Sed non quam</b>. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam.-->
  <!--</p>-->

  <!--<h2>Title at Level Two, for the Last Time</h2>-->

  <!--<p>Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. Sed pretium blandit orci. Ut eu diam at pede suscipit sodales. Aenean lectus elit, fermentum non, convallis id, sagittis at, neque. Nullam mauris orci, aliquet et, iaculis et, viverra vitae, ligula. Nulla ut felis in purus aliquam imperdiet. Maecenas aliquet mollis lectus. Vivamus consectetuer risus et tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
    <!--<b>Proin sodales libero eget ante</b>. Integer nec odio. </p>-->

  <!--<p>-->
    <!--<b>Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede</b>. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.-->
    <!--<b>Nulla ut felis in purus aliquam imperdiet</b>. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.-->
  <!--</p>-->

  <!--<p>Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam.-->
    <!--<b>Mauris massa</b>. In scelerisque sem at dolor.-->
    <!--<b>Mauris massa</b>. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum.-->
    <!--<b>In scelerisque sem at dolor</b>. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh.-->
    <!--<b>In scelerisque sem at dolor</b>. Quisque volutpat condimentum velit. </p>-->

  <!--<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices.-->
    <!--<b>Nam nec ante</b>. Suspendisse in justo eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam.-->
  <!--</p>-->

<!--</lrn-notebook>-->

<!--<lrn-stereometrics [objects]="points"></lrn-stereometrics>-->

<!--<header>-->
<!--<span>Lernejaro</span>-->
<!--</header>-->
<!---->
<router-outlet></router-outlet>

<!--<lrn-planimetrics-control [(object)]="point"-->
<!--[strategies]="['cartesian', 'polar']"-->
<!--&gt;</lrn-planimetrics-control>-->
<!---->
<!--<lrn-planimetrics-control [(object)]="line"-->
<!--[strategies]="['general', 'explicit', 'segment']"-->
<!--&gt;</lrn-planimetrics-control>-->
<!---->
<!--<pre>{{ point | json }}</pre>-->
