@import '../../imports';
@import '../../global';

.full-screen {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(black, .7);
  z-index: 9000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  // TODO Make this a mixin
  border-radius: 3px;
  @include z-depth-8dp;
  background-color: white;
  z-index: 9001;
}
