:host {
  display: block;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;

  lrn-input {
    width: 100%;
    box-sizing: border-box;

    &:not(:last-child) {
      margin-right: 2ex;
    }
  }
}
