@import '../global';

$header-height: 3em;

$breakpoint-l: 65rem;
$breakpoint-m: 40rem;
$breakpoint-s: 20rem;

body {
  counter-reset: figureCounter;
  font-size: 100%;

  @media (max-width: $breakpoint-l) {
    font-size: 87.5%;
  }

  @media(max-width: $breakpoint-m) {
    font-size: 75%;
  }

  @media (max-width: $breakpoint-s) {
    font-size: 67%;
  }
}

lrn-notebook {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100%;
  font-size: 1.24em;
  color: rgba(black, .86);
  font-family: Roboto, sans-serif;

  .table-of-content {
    position: fixed;
    left: 24px;
    top: calc(24px + #{$header-height});
    width: calc(50% - 24px - 786px / 2 - 100px); // 786 = article width
    z-index: 10;

    &.hidden {
      display: none;
    }

    @media (max-width: 1400px) {
      background-color: rgba(white, .94);
      top: $header-height + 1em;
      left: 0;
      bottom: 1em;
      width: auto;
      max-width: 33%;
      @include z-depth-3dp;
      padding: 1em;
      padding-left: 2em;
      margin-left: -1em;
      border-radius: 4px;
    }

    @media (max-width: 700px) {
      margin-left: 0;
      padding: 1em;
      left: 1em;
      right: 1em;
      width: auto;
      max-width: none;
      background-color: rgba(white, .92);
    }
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0;
    min-height: $header-height;
    background-color: rgba(white, .96);
    @include z-depth-2dp;
    display: flex;
    z-index: 10;

    .icon {
      background-color: material-color('red', '500');
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: $header-height;
      @include all-background-colors;

      > i {
        font-size: 1.5em;
      }
    }

    .title-and-subtitle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1em;
      font-weight: 300;

      .title {
        @include all-text-colors('700');
      }
    }

    .flex-spacer {
      flex: 1 0 0;
    }

    .buttons {
      display: flex;

      button {
        background: transparent;
        color: rgba(black, .3);
        border: none;
        outline: none;
        font-size: inherit;
        width: $header-height * .66;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: $header-height * .66 * .33;

        &:hover {
          color: rgba(black, .6);
        }

        i {
          padding-top: .33ex;
        }
      }
    }
  }

  > article.wrapper {
    padding-top: calc(#{$header-height} + #{4rem});
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width: calc(50rem + 10vw);
    font-size: calc(1em + 0.1vw);

    @media (max-width: $breakpoint-s) {
      padding-left: .33rem;
      padding-right: .33rem;
      max-width: 100%;
    }

    > h2 { margin-top: 1.1039em; }
    > h3 { margin-top: 1.33em; }
    > h4 { margin-top: 1.7689em; }
    > h5 { margin-top: 2.2211em; }
    > h6 { margin-top: 3.0989em; }

    // We don't need to display h1
    > h1 {
      display: none;
    }

    // Summary directly below wrapper serves an abstract for the document.
    > summary {
      margin: 1em;
      padding-top: 1ex;
      padding-bottom: 1ex;
      font-size: 1.1em;
      $border: solid 1px rgba(black, .7);
      border-top: $border;
      border-bottom: $border;
    }

    // When using markdown, there's an additional <p> which adds weird margins
    // Remove top and bottom margin, taking into account possibility that there are multiple <p>'s
    > summary {

      p:first-child {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    code {
      display: inline-block;
      background-color: rgba(black, .1);
      box-shadow: 0 0 0 .2em rgba(black, .1);
      margin-left: .2em;
      margin-right: .2em;
      border-radius: 2px;
    }

    pre {
      display: block;
      background-color: rgba(black, .1);
      padding: .8rem 1.2em;
      box-sizing: border-box;
      overflow-x: auto;

      code {
        display: inline;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
      }
    }

    img {
      max-width: 100%;
    }

    figure {
      display: table;
      margin-left: 0;
      margin-right: 0;
      margin-top: 1em;
      margin-bottom: 1em;
      width: 100%;
      text-align: center;

      @media (min-width: $breakpoint-m) {
        &.left {
          width: auto;
          text-align: left;
          float: left;
          margin-right: 1em;

          @media (min-width: 1000px) {
            margin-left: -3em;
          }
        }

        &.right {
          width: auto;
          text-align: right;
          float: right;
          margin-left: 1em;
          align-items: flex-end;

          @media (min-width: 1000px) {
            margin-right: -3em;
          }
        }
      }

      figcaption {
        counter-increment: figureCounter;
        margin-top: 1ex;
        font-size: .8em;
        font-style: italic;
        display: table-caption;
        caption-side: bottom;

        &:before {
          content: "Figure " counter(figureCounter) ". ";
          font-weight: bold;
          font-style: normal;
        }
      }
    }

    dl {

      dt {
        font-weight: bold;
      }

      dd {
        margin-bottom: 1.5ex;
      }
    }

    :target {

      &:before {
        content: "";
        display: block;
        height: 80px;
        margin-top: -80px;
      }
    }
  }

  &.dark {
    background-color: mix(black, white, 94%);
    color: rgba(white, .87);

    code {
      background-color: rgba(white, .2);
      box-shadow: 0 0 0 .2em rgba(white, .2); // TODO mixin
    }
  }

  &.sepia {
    background-color: #fbf0d9;
    color: #5f4b32;
  }
}
