<header>
  <div class="icon red">
    <i class="fa fa-flask"></i>
  </div>
  <div class="title-and-subtitle">
    <div class="title red">{{notebookTitle}}</div>
  </div>
  <div class="flex-spacer"></div>
  <div class="buttons">
    <button><i class="fa fa-ellipsis-v"></i></button>
  </div>
</header>

<article class="wrapper" #article>
  <lrn-table-of-content [tree]="tableOfContents"></lrn-table-of-content>

  <ng-content></ng-content>
</article>

<button [lrnButton]="'fab'"><i class="fa fa-cog"></i></button>
