@import '../../global';

$lesson-card-circle-size: 90px;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em;
  font-family: Roboto, sans-serif;
}

.background {
  width: $lesson-card-circle-size;
  height: $lesson-card-circle-size;
  border-radius: $lesson-card-circle-size / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(white, .96);
  @include z-depth-2dp;
  transition: all .3s ease;
  cursor: pointer;

  &:hover {
    @include z-depth-6dp;
  }
}

.name {
  margin-top: 1.2ex;
  font-style: italic;
  max-width: $lesson-card-circle-size;
  text-align: center;
  height: 2ex;
  overflow: visible;
}
