<lrn-card [header]="header">

  <lrn-card-badge>
    <lrn-icon [icon]="icon"></lrn-icon>
  </lrn-card-badge>

  <lrn-card-content class="question">
    <ng-content select="lrn-question"></ng-content>
  </lrn-card-content>

  <lrn-card-content class="choices">
    <form [id]="formId" (submit)="onSubmit($event)">
      <lrn-radio-button-group (valueChange)="onChoicePick($event)" *ngIf="hasSingleCorrectAnswer">
        <lrn-radio-button *ngFor="let choice of choices; let i = index" [value]="choice.value">
          <ng-template [ngTemplateOutlet]="choice.template"></ng-template>
        </lrn-radio-button>
      </lrn-radio-button-group>
      <lrn-checkbox-group (valueChange)="onChoicePick($event)" *ngIf="!hasSingleCorrectAnswer">
        <lrn-checkbox *ngFor="let choice of choices; let i = index" [value]="choice.value">
          <ng-template [ngTemplateOutlet]="choice.template"></ng-template>
        </lrn-checkbox>
      </lrn-checkbox-group>
    </form>
  </lrn-card-content>

  <lrn-card-content *ngIf="feedbackString != null">
    {{ feedbackString }}
  </lrn-card-content>

  <lrn-card-footer>
    <button [lrnButton]="'flat'" type="submit" [attr.form]="formId">Odgovori</button>
  </lrn-card-footer>

</lrn-card>


