<lrn-flowchart-condition><code>{{condition}}</code></lrn-flowchart-condition>

<lrn-flowchart-line [x1]="lineThroughCondition?.x1"
                    [y1]="lineThroughCondition?._y"
                    [x2]="lineThroughCondition?.x2"
                    [y2]="lineThroughCondition?._y"
></lrn-flowchart-line>
<lrn-flowchart-line [x1]="lineThroughConnector?.x1"
                    [y1]="lineThroughConnector?._y"
                    [x2]="lineThroughConnector?.x2"
                    [y2]="lineThroughConnector?._y"
></lrn-flowchart-line>

<!-- above then -->
<lrn-flowchart-line [x1]="lineThroughCondition?.x1"
                    [y1]="lineThroughCondition?._y"
                    [x2]="lineThen?._x"
                    [y2]="lineThen?.y1"
></lrn-flowchart-line>

<!-- below then -->
<lrn-flowchart-line [x1]="lineThen?._x"
                    [y1]="lineThen?.y2"
                    [x2]="lineThroughConnector?.x1"
                    [y2]="lineThroughConnector?._y"
></lrn-flowchart-line>

<!-- above else -->
<lrn-flowchart-line [x1]="lineThroughCondition?.x2"
                    [y1]="lineThroughCondition?._y"
                    [x2]="lineElse?._x"
                    [y2]="lineElse?.y1"
></lrn-flowchart-line>

<!-- below then -->
<lrn-flowchart-line [x1]="lineElse?._x"
                    [y1]="lineElse?.y2"
                    [x2]="lineThroughConnector?.x2"
                    [y2]="lineThroughConnector?._y"
></lrn-flowchart-line>

<div class="blocks">
  <div class="block" [style.width.px]="blockWidth">
    <ng-content select="lrn-flowchart-then"></ng-content>
  </div>
  <div class="separator" [style.width.px]="separatorWidth" [style.maxWidth.px]="separatorWidth" [style.minWidth.px]="separatorWidth"></div>
  <div class="block" [style.width.px]="blockWidth">
    <ng-content select="lrn-flowchart-else"></ng-content>
  </div>
</div>

<lrn-flowchart-connector></lrn-flowchart-connector>
<lrn-flowchart-next></lrn-flowchart-next>
