:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blocks {
  display: flex;
  align-content: space-between;
  align-items: center;
  margin-top: 16px;

  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    width: 50%;
  }
}
