@import '../../global';

:host {
  font-family: $font;
  border: 0;
  outline: 0;
  padding: .6em .8em;
  font-size: .8em;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  transition: all .2s ease-out;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &.raised {
    @include z-depth-2dp;

    &:focus,
    &:hover {
      @include z-depth-4dp;
    }
  }

  &.flat {
    background-color: transparent;
    @include all-text-colors;

    &:focus,
    &:hover {
      @include all-text-colors('400');;
    }
  }

  &.fab {
    position: fixed;
    $offset: 3em;
    bottom: $offset;
    right: $offset;
    $size: 4.5rem;
    width: $size;
    height: $size;
    border-radius: $size / 2;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    i.fa {
      display: inline-block;
      font-size: 2em;
    }
  }
}

@each $color-string in get-color-strings() {
  :host-context(.lrn-theme-color-#{$color-string}) {

    &.raised {
      background-color: material-color($color-string, '500');
    }
  }
}

@each $theme-name in 'light' 'dark' {
  :host-context(.lrn-theme-#{$theme-name}) {

    &.raised {
      color: rgba(white, .86);
    }
  }
}
