@import '../../global';

:host {
  overflow-x: hidden;
  z-index: 200;

  .filled {
    transition: all .33s ease;
  }
}

// Theming
@each $color-string in get-color-strings() {
  :host-context(.lrn-theme-color-#{$color-string}) {
    .filled {
      background-color: material-color(get-accent-color-string-for($color-string), 'a400');
    }
  }
}
